<!DOCTYPE html>
<html>
<head>
  <title>MonkeyPesa | Main Page</title>
  <%- include('common/header.ejs') %>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Page Logo !-->
  <div>
  	<img src="/shared/img/logo.png" alt="Page Logo Here">
  </div>
  <!-- End Page Logo !-->

  <!-- The Navigation Menu -->
  <nav class="main-header">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="#" class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Pricing</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Resources</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Blog</a>
      </li>
      <li class="nav-item">
        <a href="/users/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary btn-lg" href="/users/register" role="button">Sign UP</a>
      </li>
    </ul>
  </nav>
<!-- End Navigation Menu !-->

<!-- Main Content !-->
  <div class="main-content-home">
  	<div class="main-content-top text-center">
  		<h1>AN ALL IN ONE SALES AND MARKETING CRM</h1>
  		<h5>Every thing related to business is wahat we do best and we are here to make your business processes much more easier</h5>
  		<h3>Join US Today</h3>
  		<a class="btn btn-primary btn-lg signup-large" href="pages/register.html" role="button">Sign UP</a>
  	</div>
  </div>
<!-- End Main Content !-->

<!-- Sub Footer !-->
  <div class="sub-footer">
  	<div class="row sub-footer-content no-list-style">
  		<div  class="col-lg-4">
  			<ul class="list-group">
  				<li><h5>Attract Web Visitors</h5></li>
  				<li><a href="#">Email Marketing</a></li>
  				<li><a href="#">Email Templates</a></li>
  				<li><a href="#">Email Broadcast</a></li>
  				<li><a href="#">Double Opt-In Email</a></li>
  				<li><a href="#">Autoresponder Email</a></li>
  				<li><a href="#">Email A/B Testing</a></li>
  				<li><a href="#">RSS-t-Email</a></li>
  				<li><a href="#">Drip Campaign</a></li>
  				<li><a href="#">Email Marketing CRM</a></li>
  				<li><a href="#">Marketing Campaigns</a></li>

  			</ul>
  		</div>
  		<div class="col-lg-4">
  			<ul class="list-group">
  				<li><h5>Engage Prospects</h5></li>
  				<li><a href="#">Email Sequences</a></li>
  				<li><a href="#">Web Forms</a></li>
  				<li><a href="#">Landing Pages</a></li>
  				<li><a href="#">Marketing Automation</a></li>
  				<li><a href="#">Push Notifications</a></li>
  				<li><a href="#">Video Marketing Templates</a></li>
  				<li><a href="#">Influencers</a></li>
  			</ul>
  		</div>
  		<div class="col-lg-4">
  			<ul class="list-group">
  				<li><h5>Integrations</h5></li>
  				<li><a href="#">Zapier Integration</a></li>
  				<li><a href="#">Xero Integration</a></li>
  				<li><a href="#">Mailgun Integration</a></li>
  				<li><a href="#">Mandrill Integration</a></li>
  				<li><a href="#">Postmark Integration</a></li>
  				<li><a href="#">Sendgrid Integration</a></li>
  				<li><a href="#">PieSync Integration</a></li>
  			</ul>
  		</div>
  		<div class="col-lg-4">
  			<ul class="list-group">
  				<li><h5>Sales Prospects</h5></li>
  				<li><a href="#">Sales CRM</a></li>
  				<li><a href="#">Sales Automation</a></li>
  				<li><a href="#">Sales Management</a></li>
  				<li><a href="#">Sales Tracking</a></li>
  				<li><a href="#">Deals</a></li>
  				<li><a href="#">Predictive Lead Scoring</a></li>
  				<li><a href="#">CRM Metrics</a></li>
  				<li><a href="#">Sales Proposal</a></li>
  				<li><a href="#">Sales Pipeline</a></li>
  				<li><a href="#">Auto Dialer</a></li>
				<li><a href="#">CRM Analytics</a></li>
  			</ul>
  		</div>
  		<div class="col-lg-4">
  			<ul class="list-group">
  				<li><h5>Solutions</h5></li>
  				<li><a href="#">Email Tracker</a></li>
  				<li><a href="#">Real Estate CRM</a></li>
  				<li><a href="#">CRM for Non-profits</a></li>
  				<li><a href="#">Call Center CRM</a></li>
  				<li><a href="#">Small Business CRM</a></li>
  				<li><a href="#">B2B CRM</a></li>
  				<li><a href="#">Online CRM</a></li>
  				<li><a href="#">Social CRM</a></li>
  				<li><a href="#">Mobile CRM</a></li>
  				<li><a href="#">Simple CRM</a></li>
  				<li><a href="#">Personal CRM</a></li>
  				<li><a href="#">Unified CRM</a></li>
  			</ul>
  		</div>
  		<div class="col-lg-4">
  			<ul class="list-group">
  				<li><h5>Alternatives</h5></li>
  				<li><a href="#">ActiveCampaign Alternative</a></li>
  				<li><a href="#">Insightly Alternative</a></li>
  				<li><a href="#">More Alternatives</a></li>
  			</ul>
  		</div>
  	</div>
  </div>
<!-- End Sub Footer !-->

<%- include('common/footer.ejs') %>

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/shared/js/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/shared/styles/bootstrap-4.5/js/bootstrap.bundle.min.js"></script>
</body>
</html>
