<!DOCTYPE html>
<html>
<head>
  <title>Users | MonkeyPesa</title>
  <% include common/header.ejs %>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Page Logo !-->
  <div>
  	<img class="logo-main" src="../img/logo.png" alt="Page Logo Here">
  </div>
  <!-- End Page Logo !-->

  <!-- The Navigation Menu -->
  <nav class="main-header">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="#" class="nav-link active">Contacts</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Deals</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Tasks</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Automation</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Calendar</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">More</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Appointments</a></li>
          <li><a href="#" class="dropdown-item">Mail</a></li>
          <li><a href="#" class="dropdown-item">File Repository</a></li>
          <li><a href="#" class="dropdown-item">Workflows</a></li>
          <li><a href="#" class="dropdown-item">Sequences</a></li>
          <li><a href="#" class="dropdown-item">Trash</a></li>
          <li><a href="#" class="dropdown-item">Activities</a></li>
          <li><a href="#" class="dropdown-item">Products</a></li>
          <li><a href="#" class="dropdown-item">Proposals</a></li>
          <li><a href="#" class="dropdown-item">Reports</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="login.html" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary btn-lg" href="register.html" role="button">Sign UP</a>
      </li>
    </ul>
  </nav>
<!-- End Navigation Menu !-->

<!-- Main Content !-->
  <div class="main-content">
    <h3 class="text-left">
      Contacts
    </h3>

  	<div class="table-responsive">
      <table class="table table-hover" id="contacts-table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Created Date</th>
            <th>Address</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Check</td>
            <td>Alex</td>
            <td>alextest@gmail.com</td>
            <td>10/10/2020</td>
            <td>Kampala, Uganda</td>
            <td>Confirmed</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
<!-- End Main Content !-->


<!-- Footer !-->
<% include common/footer.ejs %>
<!-- End Footer !-->

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../js/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../styles/bootstrap-4.5/js/bootstrap.bundle.min.js"></script>
<!-- Main Javascript -->
<script src="../js/main.js"></script>


</body>
</html>
