<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password - MonkeyPesa</title>
  <%- include('../common/header.ejs') %>
</head>
<body class="hold-transition body-custom">
  <!-- Register Page !-->
  <div class=" login-page row">
    <div class="login-form col-lg-4">
      <!-- Page Logo !-->
      <div>
        <img class="page-logo" src="/shared/img/logo.png" alt="Page Logo Here">
      </div>
      <!-- End Page Logo !-->
      <h3 class="text-center">Reset Password</h3>
      <form name="login" method="POST" action="forgot-password">

        <div class="col-md-10">
          <label class="form-group">Email</label>
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text fas fa-envelope"></span>
            </div>
            <input type="email" class="form-control" id="email" oninput="checkRegisterInput('')" placeholder="Enter your Email Address">
          </div>
        </div>

        <div class="input-group col-md-10 register-margin-top">
          <button type="submit" class="btn btn-primary btn-block btn-lg register" disabled>Submit</button>
        </div>
        <div class="input-group col-md-10">
          <div class="form-group register-margin-top">Already have an account ? &nbsp<a href="login">Signin</a></div>
           <div class="form-group">Don't have an account ? &nbsp<a href="register">Sign UP</a></div>
        </div>

      </form>
    </div>
    <div class="register-image col-md-8 col-lg-8">

    </div>
  </div>
<!-- End Register Page !-->

<!-- Footer !-->
<%- include('../common/footer.ejs') %>
<!-- End Footer !-->

</div>
<!-- ./wrapper -->

<!-- Javascript Files !-->
<%- include('../common/jsinclude.ejs') %>
<!-- End Javascript Files !-->

</body>
</html>
