<!DOCTYPE html>
<html>
<head>
  <title>Sign up - MonkeyPesa</title>
  <%- include('../common/header.ejs') %>
</head>
<body class="hold-transition body-custom">
  <!-- Register Page !-->
  <div class=" register-page row">
    <div class="register-form col-lg-4">
      <!-- Page Logo !-->
      <div>
        <img class="page-logo" src="/shared/img/logo.png" alt="Page Logo Here">
      </div>
      <!-- End Page Logo !-->
      <form name="register" method="post" action="register">
        <div class="col-md-10">
          <label class="form-group" for="displayName">Name</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text fa fa-user"></span>
            </div>
            <input type="text" class="form-control" name="displayName" id="displayName" oninput="checkRegisterInput('register')" placeholder="Name">
          </div>
        </div>

        <div class="col-md-10">
          <label class="form-group" for="email">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text fas fa-envelope"></span>
            </div>
            <input type="email" class="form-control" name="email" id="email" oninput="checkRegisterInput('register')" placeholder="Email" autocomplete="username">
          </div>
        </div>

        <div class="col-md-10">
          <label class="form-group" for="website">Website</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text fas fa-address-card"></span>
            </div>
            <input type="text" class="form-control" name="website" id="website" placeholder="Website">
          </div>
        </div>

        <div class="input-group col-md-10">
          <label class="form-group" for="password">Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text fas fa-lock"></span>
            </div>
            <input type="password" class="form-control" name="password" id="password" oninput="checkRegisterInput('register')" placeholder="Password" autocomplete="current-password">
          </div>
        </div>

        <div class="input-group col-md-10">
          <label class="form-group" for="passwordCheck">Repeat Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text fas fa-lock"></span>
            </div>
            <input type="password" class="form-control" name="passwordCheck" id="passwordCheck" oninput="checkRegisterInput('register')" placeholder="Repeat Password">
          </div>
        </div>

        <div class="input-group col-md-10 register-margin-top">
          <button type="submit" class="btn btn-primary btn-block register" disabled>Sign UP</button>
        </div>
        <div class="input-group col-md-10 register-margin-top">
          <a class="btn btn-danger btn-block" href="#" role="button">Use Google Account</a>
        </div>

        <div class="input-group col-md-10">
          <a href="forgot-password" class="form-group register-margin-top">Forgot Password ?</a>
          <div class="form-group">Have an account already ? &nbsp<a href="login">Signin</a></div>
        </div>

      </form>
    </div>
    <div class="register-image col-md-8 col-lg-8">

    </div>
  </div>
<!-- End Register Page !-->

<!-- Footer !-->
<%- include('../common/footer.ejs') %>
<!-- End Footer !-->

</div>
<!-- ./wrapper -->

<!-- Javascript Files !-->
<%- include('../common/jsinclude.ejs') %>
<!-- End Javascript Files !-->

</body>
</html>
