<!DOCTYPE html>
<html>
<head>
  <title>Sign up - MonkeyPesa</title>
  <%- include('../common/header.ejs') %>
</head>
<body class="hold-transition body-custom">
  <!-- Register Page !-->
  <div class=" register-page row">
    <div class="register-form col-lg-4">
      <!-- Page Logo !-->
      <div>
        <img class="page-logo" src="/shared/img/logo.png" alt="Page Logo Here">
      </div>
      <!-- End Page Logo !-->
      <form name="register" method="post" action="register">

        <!-- Include User Form fields !-->
        <%- include('../common/user-form.ejs') %>
         <!-- Include User Form fields !-->

        <div class="input-group col-md-10 register-margin-top">
          <button type="submit" class="btn btn-primary btn-block register" disabled>Sign UP</button>
        </div>
        <div class="input-group col-md-10 register-margin-top">
          <a class="btn btn-danger btn-block" href="#" role="button">Use Google Account</a>
        </div>

        <div class="input-group col-md-10">
          <a href="forgot-password" class="form-group register-margin-top">Forgot Password ?</a>
          <div class="form-group">Have an account already ? &nbsp<a href="login">Signin</a></div>
        </div>

      </form>
    </div>
    <div class="register-image col-md-8 col-lg-8">

    </div>
  </div>
<!-- End Register Page !-->

<!-- Footer !-->
<%- include('../common/footer.ejs') %>
<!-- End Footer !-->

</div>
<!-- ./wrapper -->

<!-- Javascript Files !-->
<%- include('../common/jsinclude.ejs') %>
<!-- End Javascript Files !-->

</body>
</html>
