<!DOCTYPE html>
<html>
<head>
  <title>Sales | MonkeyPesa</title>
  <%- include('../common/header.ejs') %>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Page Logo !-->
  <div>
  	<img class="logo-main" src="../img/logo.png" alt="Page Logo Here">
  </div>
  <!-- End Page Logo !-->

  <!-- The Navigation Menu -->
  <nav class="main-header">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="#" class="nav-link">Contacts</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Deals</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Tasks</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Automation</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Calendar</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">More</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Appointments</a></li>
          <li><a href="#" class="dropdown-item">Mail</a></li>
          <li><a href="#" class="dropdown-item">File Repository</a></li>
          <li><a href="#" class="dropdown-item">Workflows</a></li>
          <li><a href="#" class="dropdown-item">Sequences</a></li>
          <li><a href="#" class="dropdown-item">Trash</a></li>
          <li><a href="#" class="dropdown-item">Activities</a></li>
          <li><a href="#" class="dropdown-item">Products</a></li>
          <li><a href="#" class="dropdown-item">Proposals</a></li>
          <li><a href="#" class="dropdown-item">Reports</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="login.html" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary btn-lg" href="register.html" role="button">Sign UP</a>
      </li>
    </ul>
  </nav>
<!-- End Navigation Menu !-->

<!-- Main Content !-->
  <div class="main-content">
    <h3 class="text-left">
      Sales Dashboard
    </h3>

  	<div class="row">
      <div class="col-lg-6">
        <div class="card contacts-card">
          <div class="card-body">
            <h3 class="card-title">Contact List</h3>
            <p class="card-text">
              No Contacts Yet
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card deals-card">
          <div class="card-body">
            <h3 class="card-title">Deals</h3>
            <p class="card-text">No Deals Yet</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card tasks-card">
          <div class="card-body">
            <h3 class="card-title">Tasks</h3>
            <p class="card-text">No Tasks Yet</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card appointments-card">
          <div class="card-body">
            <h3 class="card-title">Appointments</h3>
            <p class="card-text">No Appointments Yet</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card calls-card">
          <div class="card-body">
            <h3 class="card-title">Call Count</h3>
            <p class="card-text">No Calls Yet</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card deal-count-card">
          <div class="card-body">
            <h3 class="card-title">Deal Count</h3>
            <p class="card-text">No Deal Counts Yet</p>
          </div>
        </div>
      </div>
    </div>

  </div>
<!-- End Main Content !-->


<!-- Footer !-->
<%- include('../common/footer.ejs') %>
<!-- End Footer !-->

</div>
<!-- ./wrapper -->

<!-- Javascript Files !-->
<%- include('../common/jsinclude.ejs') %>
<!-- End Javascript Files !-->

</body>
</html>
